@model Cinema.Models.Films
@{
    ViewBag.Title = "DeleteFilm";
}

<h2>Delete Film</h2>

@using (Html.BeginForm())
{
 @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Films", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdFilms", ViewBag.Films as SelectList, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
        </div>
            
}


