
@using Cinema.Models
@using Cinema.HtmlHelpers
@model FilmsListViewModel
@{
        ViewBag.Title = "Home Page";
}
<div id="results">
    @using (Ajax.BeginForm("Index", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <input type="text" name="serh" />
        <input type="submit" class="btn btn-success" value="Search" />
    }
    <div>
        @foreach (var s in Model.Films)
        {
            @Html.Partial("FilmsView", s)
        }
    </div>

    <div>
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
    </div>
</div>

@Scripts.Render("~/scripts/jquery-1.10.2.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")