
@using Cinema.Models
@using Cinema.HtmlHelpers
@model SessionListViewModels
@{
        ViewBag.Title = "Home Page";
}
           
        @foreach (var s in Model.Session)
        {
            @Html.Partial("SessionSummary", s)  
        }
          
 <div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
</div>