@model List<Cinema.Models.Basket>
@using System.Data.Entity;
@using Cinema.Models
<div class="well">
    @using (Html.BeginForm("EditSession", "Home", FormMethod.Get))
    {
        if(Model.Count() > 0)
        {
            <strong>You Ticket</strong>
            foreach(var s in Model)
            {
                ApplicationDbContext db = new ApplicationDbContext();
                Session ses = db.Sessions.Find(s.IdSession);
                s.Sessions = ses;
                <p>Film "@db.Films.Find(ses.IdFilms).Name" Time: @s.Sessions.ReleaseDate.Day.@s.Sessions.ReleaseDate.Month.@s.Sessions.ReleaseDate.Year. @s.Sessions.ReleaseTime.TimeOfDay 
                    Count Ticket: @s.CoutTicket</p>
               
                db.Dispose();
            }
        }
    }
</div>