@model Cinema.Models.RegisterViewModel
@{
    ViewBag.Title = "ChangeName";
}

<h2>Change name</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @**@
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Change" />
        </div>
    </div>

}

