@{
    ViewBag.Title = "Completion of registration";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for verifying your email. @Html.ActionLink("Click here to sign in.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
