@{
    ViewBag.Title = "Confirmation reset passwod";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your password Reset. @Html.ActionLink("Click here for sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
